# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Visual Studio Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Excel files
uploads/*.xlsx

# Logs
logs/
*.log